@import url("pygment.css");

body {
  font-family: Sans-Serif;
}
nav {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gray;
}
nav header {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
}
.page-wrapper {
  max-width: 40rem;
  margin: 0 auto;
}
.copyright {
  margin-top: 4rem;
  text-align: center;
}

.code {
  background-color: #282828;
  padding: 0.5rem;
}

.article-title {
  margin: 0;
}
.date-posted {
  font-style: italic;
  color: gray;
}
.share-twitter {
  text-align: center;
  font-size: 0.9rem;
}

.about {
  text-align: center;
}
.social-links a {
  display: inline-block;
  text-indent: -9999px;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}
.social-links .github {
  background-image: url(../images/github.svg);
}
.social-links .exercism {
  background-image: url(../images/exercism.svg);
}
.social-links .twitter {
  background-image: url(../images/twitter.svg);
}
.about .email {
  font-family: monospace;
}
.about .photo {
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  margin: 1rem auto;
  background-image: url(../images/pfertyk.jpg);
  background-position: center;
}
