@import url("pygment.css");

nav {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
a:link,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    color: gray;
}
nav header {
    float: left;
}
nav ul {
    float: right;
    margin: 0;
}
nav ul li {
    display: inline-block;
}
.page-wrapper {
    max-width: 40rem;
    margin: 0 auto;
}
.copyright {
    text-align: center;
}

.paginator {
    text-align: center;
}
.paginator a {
    padding: 0.25rem;
}

.code {
    background-color: #282828;
    padding: 0.5rem;
}

.article-preview {
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
}
.article-preview .title {
    font-weight: bold;
    font-size: 1.5rem;
}
.article-preview .date {
    display: inline;
}
