img[src$='#profile-photo'] {
  border-radius: 50%;
  width: 16rem;
  height: auto;
  margin: 0 auto;
}

.social-icons a {
  box-shadow: 0 0;
}

@media screen
{
  .only-print, .only-print *
  {
    display: none !important;
  }
}
@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}
