{% extends 'base.html' %}
{% block title %}About / {{ super() }}{% endblock %}
{% block twitter_title %}About / {{ super() }}{% endblock %}
{% block content %}
<div class="about">
  <h2>
    Hi, I'm Paweł Fertyk.
  </h2>
  <div class="photo"></div>
  <div class="description">
    I'm a software developer from Poznań, Poland. I work mostly with Python, but I used to tamper with Java and C++. I'm a huge fan of automated tests, refactoring, and removing third party services from my life.
  </div>
  <h3>
    You can find me here:
  </h3>
  <div class="social-links">
    <a class="github" href="https://github.com/pfertyk">pfertyk on GitHub</a>
    <a class="exercism" href="http://exercism.io/pfertyk">pfertyk on Exercism</a>
    <a class="twitter" href="https://twitter.com/pfertyk">pfertyk on Twitter</a>
  </div>
  <h3>
    Or contact me directly:
  </h3>
  <div class="email">
    hello [at] pfertyk.me
  </div>
</div>
{% endblock %}
