{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} / {{ super() }}{% endblock %}
{% block description %}{{ article.summary|striptags }}{% endblock %}
{% block twitter_title %}{{ article.title|striptags }} / {{ super() }}{% endblock %}
{% block twitter_description %}{{ article.summary|striptags }}{% endblock %}
{% block content %}
<h2 class="article-title">
  {{ article.title }}
</h2>
<div class="date-posted">{{ article.date|strftime('%Y-%m-%d') }}</div>
{{ article.content }}
{% if TWITTER_USERNAME %}
<div class="share-twitter">
  <a href="{{ article|twitter_link }}">Tweet</a>
</div>
{% endif %}
{% endblock %}
