{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}
{% endblock %}
{% block title %}{{ article.title|striptags }} / {{ super() }}{% endblock %}
{% block content %}
<h2 class="article-title">
  {{ article.title }}
</h2>
<div class="date-posted">{{ article.date|strftime('%Y-%m-%d') }}</div>
{{ article.content }}
{% if TWITTER_USERNAME %}
<a href="{{ article|twitter_link }}">Tweet</a>
{% endif %}
{% endblock %}
