{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}
{% endblock %}
{% block title %}{{ article.title|striptags }} / {{ super() }}{% endblock %}
{% block content %}
<h2 class="article-title">
  {{ article.title }}
</h2>
<div class="date-posted">Posted {{ article.date|strftime('%Y-%m-%d') }}</div>
{{ article.content }}
{% if TWITTER_USERNAME %}
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{TWITTER_USERNAME}}">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{% endif %}
{% endblock %}
