<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ AUTHOR_NAME }}">
    <meta name="description" content="{% block description %}{{ SITE_DESCTIPTION }}{% endblock %}" />

    {% if FEED_ALL_ATOM %}
    <link type="application/atom+xml" rel="alternate" href="/{{ FEED_ALL_ATOM }}"  title="{{ SITE_DESCTIPTION }} - Atom Feed">
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link type="application/rss+xml" rel="alternate" href="/{{ FEED_ALL_RSS }}" title="{{ SITE_DESCTIPTION }} - RSS Feed">
    {% endif %}

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css"/>
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ SITEURL }}/theme/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=DejaVu+Sans+Mono"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="{{ SITEURL }}/theme/images/pfertyk.jpg" />
    <meta name="twitter:title" content="{% block twitter_title %}{{ SITENAME }}{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter_description %}{{ SITE_DESCTIPTION }}{% endblock %}" />
  </head>
  <body>
    <div class="page-wrapper">
      <nav class="no-print">
        <header><a href="{{ SITEURL }}">{{ SITENAME }}</a></header>
        <ul>
          <li><a href="{{ SITEURL }}">Blog</a></li><li><a href="{{ SITEURL }}{{ TAGS_URL }}">Tags</a></li><li><a href="{{ SITEURL }}/about/">About</a></li>
        </ul>
      </nav>
      {% block content %}
      {% endblock %}
      <div class="footer no-print">
        <div class="copyright">&copy; 2017 Paweł Fertyk</div>
      </div>
    </div>
  </body>
</html>
